@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-medium.ttf);
    font-weight: 500;
}

.wrapper header.header .logo {}

.wrapper header.header .logo h2 {
    margin: 0 0 0 40px;
    padding: 0;
}

.wrapper header.header .logo h2 a {
    color: #061e37;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    line-height: 70px;
    padding: 22px 0;
    text-transform: uppercase;
}

.wrapper header.header .menu {
    margin: 0
}

.wrapper header.header .menu ul {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 4px;
}

.wrapper header.header .menu ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 -4px 0 0;
}

.wrapper header.header .menu ul li a {
    color: rgb(6, 30, 55);
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 70px;
    padding: 26px 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.wrapper header.header .menu ul li.active a {
    background: #40c4ff;
    color: #fff;
}

.wrapper header.header .menu ul li a:hover {
    background: #40c4ff;
    color: #fff;
}

.wrapper section.bg-text-area .bg-text {
    background-image: url(img/post-image1.jpg);
    background-size: 100% 100%;
    padding: 205px 280px;
}

.wrapper section.bg-text-area .container {}

.wrapper section.bg-text-area .bg-text h3 {
    color: #fff;
    font-family: Geometria;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.wrapper section.bg-text-area .bg-text p {
    color: #fff;
    font-family: Geometria;
    font-size: 15px;
    font-weight: 500;
    line-height: 33px;
    margin: 32px 0 0;
    text-align: center;
}

section.blog-post-area {
    margin-top: 50px;
}

section.blog-post-area .big-image {
    float: left;
    width: 50%;
    padding-right: 35px;
}

section.blog-post-area .big-text {
    float: right;
    width: 50%;
    padding-right: 20px;
}

section.blog-post-area img {
    width: 100%;
}

section.blog-post-area .big-text h3 {
    margin: 10px 0 0;
}

section.blog-post-area .big-text h3 a {
    font-family: Geometria;
    font-weight: 700;
    font-size: 40px;
    color: #061e37;
    text-decoration: none;
}

section.blog-post-area .big-text p {
    color: #061e37;
    font-family: Geometria;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 18px;
    text-align: justify;
    text-decoration: none;
}

section.blog-post-area .big-text h4 {
    margin-top: 25px;
    padding-top: 30px;
    position: relative;
}

section.blog-post-area .big-text h4::before {
    background: #e6e6e6 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

/* post details style */
section.blog-post-area .post-image {
    float: left;
    width: 60%;
    padding-right: 35px;
    padding-top: 18px;
}

section.blog-post-area .post-text h3 {
    margin: 10px 0 0;
    border-bottom: 2px solid #e6e6e6;

}

section.blog-post-area .post-text h3 a {
    font-family: Geometria;
    font-weight: 700;
    font-size: 40px;
    color: #061e37;
    text-decoration: none;
}

section.blog-post-area .post-text p {
    color: #061e37;
    font-family: Geometria;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 18px;
    text-align: justify;
    text-decoration: none;
}

section.blog-post-area .post-text h4 {
    margin-top: 25px;
    padding-top: 30px;
    position: relative;
}

section.blog-post-area .post-text h4::before {
    background: #e6e6e6 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

section.blog-post-area .post-text h4 span.author {
    float: right
}

/* post details style end */


section.blog-post-area .single-post {
    padding-right: 20px;
    margin: 100px 0px 0px;
}

section.blog-post-area h4 span {
    font-family: Geometria;
    font-weight: 400;
    font-size: 15px;
    color: #061e37;
    text-decoration: none;
}


section.blog-post-area .big-text h4 span.author {
    float: right
}

section.blog-post-area h4 span.author-name {
    font-weight: 500;
}

.blog-post-area .single-post h3 a {
    font-family: Geometria;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    color: #061e37;
}

.blog-post-area .single-post p {
    color: #061e37;
    font-family: Geometria;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding-top: 14px;
    position: relative;
    text-align: justify;
}

.blog-post-area .single-post h4 {
    margin-bottom: 12px;
    padding-top: 10px;
    position: relative;
}

.blog-post-area .single-post h4::before {
    background: #e6e6e6 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

.blog-post-area .single-post p::before {
    background: #e6e6e6 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

.blog-post-area .single-post h3 {
    margin: 25px 0 15px;
}

.blog-post-area .pegination {
    margin-top: 60px;
    margin-bottom: 60px;
}

.blog-post-area .pegination .nav-links {
    margin: 0;
    padding: 0;
    text-align: center;
}

.blog-post-area .pegination .nav-links .page-numbers {
    border: 1px solid #448aff;
    border-radius: 50%;
    color: #448aff;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    list-style: outside none none;
    margin-right: 5px;
    text-align: center;
    width: 45px;
}

.blog-post-area .blog-post-area-style {
    margin: 0 20px 0 40px;
}

.blog-post-area .pegination .nav-links .page-numbers.current {
    background: #448aff;
    color: #fff;
}

.blog-post-area .pegination .nav-links .page-numbers:hover {
    background: #448aff;
    color: #fff;
}

.blog-post-area .pegination .nav-links a {
    text-decoration: none;
}

.wrapper footer.footer {
    height: 130px;
}

.wrapper footer .footer-bg {
    background: #000 none repeat scroll 0 0;
    height: 130px;
    overflow: hidden;
}

.wrapper footer.footer .footer-menu {
    margin: 0
}

.wrapper footer.footer .footer-menu ul {
    line-height: 130px;
    margin: 0;
    padding: 0;
}

.wrapper footer.footer .footer-menu ul li {
    display: inline;
    list-style: outside none none;
    margin: 0;
    padding: 30px 0px;
}

.wrapper footer.footer .footer-menu ul li a {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 70px;
    margin-left: 40px;
    padding: 26px 10px 26px 0;
    text-decoration: none;
    text-transform: uppercase;
}

.wrapper footer.footer .footer-icon p {
    float: right;
    line-height: 130px;
}

.wrapper footer.footer .footer-icon p i {
    color: #fff;
    font-size: 18px;
    margin-right: 30px;
    padding: 10px;
}

.wrapper footer.footer .copyright p {
    color: #fff;
    margin-top: 35px;
}